<section id="Sobre-Mi" class="Sobre-Mi">
  <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <img src="./assets/img/perfil.png/" class="rounded-5 rounded-top-0 w-75" >
        </div>
        <div class="col-8 mt-4">
          <h3 class="parrafo mt-5 pt-5">Soy Stefany Donnet, como mencione soy Full Stack Developer Jr. proximamente sumare el titulo de Licenciada en Comercio Internacional, hablo Ingles y siempre estoy buscando mejorar profesionalmente
          </h3>

        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </section>


