<h1 class="Educacion">Formación</h1>

<section id="Educacion" class="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
            <img src="assets/img/quilmes.png" width="150px" height="140px">
          </div>
          <div class="col-6 mt-4">
            <h3 class="Quilmes">
              <h2 class="educacion">Licenciatura en Comercio Internacional</h2>
              <ul style="font-size: x-large;">Universidad Nacional de Quilmes</ul>
            </h3>
          </div>
        </div>


        <div class="container text-center">
          <div class="row">
            <div class="col-3">
              <img src="assets/img/ingles.jpg" width="150px" height="140px">
            </div>
            <div class="col-6 mt-4">
              <h3 class="ingles">
                <h2 class="educacion"> Ingles Nivel Intermedio en Instituto C.E.P.I </h2>
              </h3>
            </div>
          </div>
        </div>
    </div>
  </section>
