
section.banner{
  background-image: linear-gradient(rgba(6, 5, 10, 0.889),
   rgba(16, 15, 38, 0.618)),
  url(../../assets/img/cerebro.png);
  height: 100vh;
  position:relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -msn-background-size: cover;
  background-repeat: no-repeat;
}

.bienvenida{
  padding-top: 15rem !important;
  color:azure;
  margin-left: 40rem;
}


