<div class="btn-group">
  <a href="https://linkedin.com" target="_blank" class="btn btn-primary"><i class="fa-brands fa-linkedin fa-2xl text-white"></i></a>
  <a href="https://instagram.com" target="_blank"class="btn btn-primary"><i class="fa-brands fa-square-instagram fa-2xl text-white"></i></a>
  <a href="https://facebook.com" target="_blank" class="btn btn-primary"><i class="fa-brands fa-square-facebook fa-2xl text-white"></i></a>
  <a href="https://gmail.com" target="_blank" class="btn btn-primary"><i class="fa-solid fa-envelope fa-2xl text-white"></i></a>
  <a href="https://github.com" target="_blank" class="btn btn-primary"><i class="fa-brands fa-github fa-2xl text-white"></i></a>
  <!-- Button trigger modal -->
  <i class="fa-solid fa-user-lock fa-2xl text-white"button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" ></i>
</div>
